@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.layout {
  min-height: 100vh;
}

.main {
  padding-bottom: calc($bottom-nav-height + $spacing-sm);
  min-height: 100vh;

  @include tablet {
    margin-left: $sidebar-narrow-width;
    padding-bottom: 0;
  }

  @include desktop {
    margin-left: $sidebar-width;
    padding-bottom: 0;
  }
}
